@import "tailwindcss";
@source "../views";

:root {
    --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: var(--font-sans), sans-serif;
}
